body {
    font-family: Cascadia Mono;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f1f1f;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: none;
    /* max-width: 600vw; */
    height: 100vh;
    /* background-image:
        linear-gradient(to right, #cccccc 1px, transparent 1px),
        linear-gradient(to bottom, #cccccc 1px, transparent 1px);
    background-size: 50px 50px;
    z-index: 1; */
    /* background-image: url("./images/joystick.png"); */
    /* background-position: 50% 50%; */
}

.mainContainer {
    /* overscroll-behavior: none; */
    width: 600%;
    height: 100vh;
    display: flex;
    /* flex-wrap: nowrap; */
}